
*{
    margin: 0px;
    padding: 0px;
    

}

h2{
    text-transform: uppercase;
    color: #602222;
}

.nav-link{
    color:#602222;
    font-weight: 700;
}


.container-fluid {
    position: relative; 
}

.img-fluid1 {
    width: 100%; 
    height: 90vh; 
}

.gradient-overlay {
    position: absolute; /* Position over the image */
  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); /* Change colors as needed */
    pointer-events: none; /* Allow clicks to pass through to the image */
}

.gradient-overlay1 {
    border-radius:10px ;
    position: absolute; /* Position over the image */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    bottom: 0; /* Align to the bottom */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Change colors as needed */
    pointer-events: none; /* Allow clicks to pass through */
}


.text-overlay {
    position: absolute; /* Position text over the image */
    top: 60%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset to center */
    color: white; /* Text color */
    font-size: 18px;
    font-weight: 700; /* Text size */
    text-align: center; /* Center the text */
    z-index: 1; /* Ensure text is above the gradient */
}


.text-overlay2 {
    position: absolute; 
    bottom: 7%; 
    left: 5%; 
    color: white; 
    font-size: 2rem;
    font-weight: 700; 
    
    z-index: 1; 
}
.card{
    border: none;
}

.bgch{
    background: linear-gradient(to bottom, rgba(243, 146, 28, 0.4), rgba(243, 146, 28, 0.4)); /* Gradient with 40% opacity */
    
}


.text-overlayer {
    position: absolute; 
    bottom: 7%; 
    left: 5%; 
    color: white; 
    font-size: 4rem;
    font-weight: 700; 
    line-height: 0.9;
    z-index: 1; 
}


ul li{
    list-style: none;
    font-weight: 600;
}

ul li:hover{
    color: #F3921C;
}

h2:hover{
    color: #F3921C;
}


a.btn {
    color: white; /* Set icon color */
    font-size: 1rem; /* Increase icon size */
}

a.btn:hover {
    opacity: 0.8; /* Slight hover effect */
}



@media screen and (max-width: 768px) {
    .navbar-nav{
        gap:0px !important;
    }

    .text-overlayer{
        font-size: 1rem;
    }

    .img-fluid1{
        height: 60vh;
    }

    .event{
        justify-content: center;
        height: 50vh !important;
    }
    
}



/* Custom class for scrollable row */

